<!-- Encabezado de la página con una barra de herramientas -->
<ion-header>
  <ion-toolbar>
    <!-- Título en la barra de herramientas -->
    <ion-title>Ionic Culqi</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la página con un relleno interior -->
<ion-content padding>
  <!-- Lista de elementos, en este caso, un solo elemento de entrada de ion-item -->
  <ion-list>
    <ion-item>
      <!-- Entrada de número vinculada a la variable 'monto' mediante ngModel -->
      <ion-input label="Monto" type="number" [(ngModel)]="monto" placeholder="S/. 50"></ion-input>
      <!-- Se puede agregar un comentario explicativo aquí si es necesario -->
    </ion-item>
  </ion-list>

  <!-- Botón para realizar el pago, con un evento de clic vinculado a la función 'openCheckout()' -->
  <ion-button block (click)="openCheckout()">Pagar</ion-button>
</ion-content>
